Source: dcrwallet
Section: net
Priority: optional
Maintainer: Cédric Félizard <cedric@felizard.fr>
Build-Depends: debhelper-compat (= 12), dh-exec
Standards-Version: 4.4.0
Homepage: https://github.com/decred/decred-binaries/releases
#Vcs-Browser: https://salsa.debian.org/debian/dcrwallet
#Vcs-Git: https://salsa.debian.org/debian/dcrwallet.git

Package: dcrwallet
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: Decred dcrwallet
 Decred CLI wallet in Go
