[Unit]
Description=Decred dcrd
[Service]
Type=simple
User=decred
ExecStart=/usr/bin/dcrd -C /etc/decred/dcrd.conf
Restart=on-failure
[Install]
WantedBy=multi-user.target
