Source: dcrctl
Maintainer: Cédric Felizard <cedric@felizard.eu>
Uploaders: Cédric Felizard <cedric@felizard.eu>,
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10)

Package: dcrctl
Architecture: amd64
Provides: dcrctl
Section: default
Priority: extra
Homepage: https://github.com/decred/dcrd/tree/master/cmd/dcrctl
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Decred dcrctl
 CLI utility to interact with dcrd and dcrwallet
